{%extends "header.html"%}

{%block body%}
<code>{{ debug }}</code>

<form action="{{ url_for('players') }}" method="POST">
    <script type="text/javascript">
        function updateWeight(val) {
          document.getElementById('weightspan').innerHTML=val; 
        }
    </script>
    <script type="text/javascript">
        function updateHeight(val) {
          document.getElementById('heightspan').innerHTML=val; 
        }
    </script>
    <script type="text/javascript">
        function updateAge(val) {
          document.getElementById('agespan').innerHTML=val; 
        }
    </script>

    <script type="text/javascript">
        function updateAssists(val) {
          document.getElementById('assistsspan').innerHTML=val; 
        }
    </script>

    <script type="text/javascript">
        function updatePts(val) {
          document.getElementById('ptsspan').innerHTML=val; 
        }
    </script>

    <script type="text/javascript">
        function updatePim(val) {
          document.getElementById('pimspan').innerHTML=val; 
        }
    </script>
<br />
<div class="row" style="height:250px;">
    <div class="column">
        <br />
    <div class="form-row col-md-6">
        <div class="row">
            <div class="col-25">
                <label for="pname">Player &nbsp;&nbsp;&nbsp;&nbsp;</label>
             </div>

            <div class="col-150">
            <select class="form-control form-control-sm" name="pname" style="width:150px;">
                  <option></option>
                  {% for player in pname_drop %}
                  <option>{{ player }}</option>
                  {%endfor%}
                  </select>
            </div>
        </div>
    </div>

    <div class="form-row col-md-6">
        <div class="row">
            
            <div class="col-25">
                <label for="tmID">Team &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            
            <div class="col-150">
                <select class="form-control form-control-sm" name="tmID" style="width:150px;">
                  <option></option>
                  {% for team in teamdrop %}
                  <option>{{ team }}</option>
                  {%endfor%}
                  </select>
            </div>
       </div>
    </div>
    
   <div class="form-row col-md-6">
       <div class="row">
            <div class="col-25">
                <label for="lgID">League &nbsp;&nbsp;</label>
            </div>
           
           <div class="col-150">
                <select class="form-control form-control-sm" name="lgID" value="{{ lgID }}" style="width:150px;">
                  <option>ALL</option>
                  <option>WHA</option>
                  <option>NHL</option>
                  <option>WCHL</option>
                  <option>NHA</option>
                  <option>PCHA</option>
                </select>
           </div>
       </div>
   </div>

   <div class="form-row col-md-6">
       <div class="row">
           <div class="col-25"> 
               <label for="lgID">Season &nbsp;&nbsp;</label>
           </div>
           <div class="col-150">
                <select class="form-control form-control-sm" name="year" style="width:150px;">
                  <option></option>
                  {% for year1 in years %}
                  {% if year1 == year %}
                  <option selected="selected">{{ year1 }}</option>
                  {%else%}
                   <option >{{ year1 }}</option>
                  {%endif%}
                  {%endfor%}
                </select>
           </div>
       </div>
   </div>

    
    <div class="form-row col-md-6">
        <div class="row">
            <div class="col-25">
              <label for="position">Position &nbsp;</label>
            </div>
            <div class="col-150">
              <select class="form-control form-control-sm" name="position" style="width:150px;">
                <option></option>
                <option>D</option>
                <option>L</option>
                <option>R</option>
                <option>C</option>
                <option>G</option>
              </select>
            </div>
        </div>
    </div>

    
    <div class="form-row col-md-6">
        <div class="row">
            <div class="col-25">
              <label for="catch">Catch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            </div>
            <div class="col-150">
              <select class="form-control form-control-sm" name="catch" style="width:150px;">
              <option></option>
              <option>L</option>
              <option>R</option>
              </select>
            </div>
        </div>
    </div>
  </div>
      


 <div class="column">       
<div class="form-group">        
    <div class="form-row col-md-8">
        <div class="row">
            <div class="col-60">
        <label for="weight">Weight ≥ <span id="weightspan"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
            </div>
            <div class="col-110">
        125<input type="range" name="weight" value='125' max='265' min='125' onchange="updateWeight(this.value);">265&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-row col-md-8">
        <div class="row">
            <div class="col-60">
        <label for="height">Height ≥  <span id="heightspan"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
            </div>
            <div class="col-110">
        63&nbsp;<input type="range" name="height" value='63' max='81' min='63' onchange="updateHeight(this.value);">&nbsp;81&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>
    
<div class="form_group">
    <div class="form-row col-md-8">
        <div class="row">
            <div class="col-60">
        <label for="age">Age ≤ <span id="agespan"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
            </div>
            <div class="col-110">
        16&nbsp;<input type="range" name="age" value='51' max='51' min='16' onchange="updateAge(this.value);">&nbsp;51&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>
</div>
    
<div class="form_group">
        <div class="form-row col-md-8">
            <div class="row">
                <div class="col-60">
            <label for="Assists">Assists ≥ <span id="assistsspan"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
                </div>
                <div class="col-110">
            0&nbsp;&nbsp;<input type="range" name="assists" value='0' max='163' min='0' onchange="updateAssists(this.value);">&nbsp;163 &nbsp;&nbsp;
                </div>
            </div>
        </div>
</div>
    
    <div class="form_group">
        <div class="form-row col-md-8">
        <div class="row">
            <div class="col-60">            
            <label for="Pts">Pts ≥ <span id="ptsspan"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
           </div>
            <div class="col-110">
            0&nbsp;&nbsp;<input type="range" name="pts" value='0' max='215' min='0' onchange="updatePts(this.value);">&nbsp;&nbsp;215 
            </div>
            </div>
        </div>
    </div>
    
    <div class="form_group">
        <div class="form-row col-md-8">
        <div class="row">
            <div class="col-60">
            <label for="Pim">Pims ≥ <span id="pimspan"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
            </div>
            <div class="col-110">
            0&nbsp;&nbsp;<input type="range" name="pim" value='0' max='472' min='0' onchange="updatePim(this.value);">&nbsp;&nbsp;472 
            </div>
        </div>
        </div>
    </div>
</div>
</div>

  

  <input type="submit" value="Submit">

</form>

<table class="table table-striped table-sm table-responsive header-fixed" style="display: block; max-height: 600px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">
<thead class="thead-light">
<tr class="table-dark">
    <td scope="col">Name</td><td scope="col">League</td><td scope="col">Team</td><td scope="col">Season</td><td scope="col">Height</td><td scope="col">Weight</td><td scope="col">Shoot Catch</td><td scope="col">Postion</td><td scope="col">Age by Season</td><td scope="col">Games Played</td><td scope="col">Assists</td><td scope="col">Pts</td><td scope="col">PIM</td><td scope="col">PostGP</td><td scope="col">PostA</td><td scope="col">PostPts</td><td scope="col">PostPIM</td>
</tr>
</thead>
<tbody>
{% for row in table%}
    <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock%}
