{%extends "header.html"%}

{%block body%}
<code>{{ debug }}</code>

<form action="{{ url_for('players') }}" method="POST">
    <script type="text/javascript">
        function updateWeight(val) {
          document.getElementById('weightspan').innerHTML=val; 
        }
    </script>
    <script type="text/javascript">
        function updateHeight(val) {
          document.getElementById('heightspan').innerHTML=val; 
        }
    </script>
    <script type="text/javascript">
        function updateAge(val) {
          document.getElementById('agespan').innerHTML=val; 
        }
    </script>

    <script type="text/javascript">
        function updateAssists(val) {
          document.getElementById('assistsspan').innerHTML=val; 
        }
    </script>

    <script type="text/javascript">
        function updatePts(val) {
          document.getElementById('ptsspan').innerHTML=val; 
        }
    </script>

    <script type="text/javascript">
        function updatePim(val) {
          document.getElementById('pimspan').innerHTML=val; 
        }
    </script>


  <div class="form-row  text-danger font-weight-bold" >
    
    <div class="form-group col-md-2">
    <label for="pname">Player</label>
    <select class="form-control form-control-sm" name="pname">
          <option></option>
          {% for player in pname_drop %}
          <option>{{ player }}</option>
          {%endfor%}
          </select>
    </div>




    <div class="form-group col-md-2">
    <label for="tmID">Team</label>
    <select class="form-control form-control-sm" name="tmID">
          <option></option>
          {% for team in teamdrop %}
          <option>{{ team }}</option>
          {%endfor%}
          </select>
    </div>
    
    <div class="form-group col-md-1">
   <label for="lgID">League</label>
    <select class="form-control form-control-sm" name="lgID" value="{{ lgID }}">
      <option>ALL</option>
      <option>WHA</option>
      <option>NHL</option>
      <option>WCHL</option>
      <option>NHA</option>
      <option>PCHA</option>
    </select>
   </div>

   <div class="form-group col-md-1">
   <label for="lgID">Season</label>
    <select class="form-control form-control-sm" name="year">
      <option></option>
      {% for year1 in years %}
      {% if year1 == year %}
      <option selected="selected">{{ year1 }}</option>
      {%else%}
       <option >{{ year1 }}</option>
      {%endif%}
      {%endfor%}
    </select>
   </div>

    
    <div class="form-group col-md-1">
      <label for="position">Position</label>
      <select class="form-control form-control-sm" name="position">
        <option></option>
        <option>D</option>
        <option>L</option>
        <option>R</option>
        <option>C</option>
        <option>G</option>

      </select>
    </div>

    
    <div class="form-group col-md-1">
      <label for="catch">Catch</label>
      <select class="form-control form-control-sm" name="catch">
      <option></option>
      <option>L</option>
      <option>R</option>
      </select>
    </div>



  </div>

  <div class="form-row" >
        
        
        <div class="form-group col-md-3">

            125<input type="range" name="weight" value='125' max='265' min='125' onchange="updateWeight(this.value);">265&nbsp;&nbsp;&nbsp;<label for="weight">Weight >= <span id="weightspan"></span></label>
        </div> 

        <div class="form-group col-md-3">
            63&nbsp;<input type="range" name="height" value='63' max='81' min='63' onchange="updateHeight(this.value);">&nbsp;81&nbsp;&nbsp;&nbsp;<label for="height">Height >= <span id="heightspan"></span></label>
        </div>

        <div class="form-group col-md-3">
            16&nbsp;<input type="range" name="age" value='51' max='51' min='16' onchange="updateAge(this.value);">&nbsp;51&nbsp;&nbsp;&nbsp;<label for="age">Age <= <span id="agespan"></span></label>
  </div>


  <div class="form-row" >
        <div class="form-group col-md-2.5">
            0&nbsp;&nbsp;<input type="range" name="assists" value='0' max='163' min='0' onchange="updateAssists(this.value);">163<span id="assistsspan"></span>
        </div>

        <div class="form-group col-md-2.5">
            0&nbsp;&nbsp;<input type="range" name="pts" value='0' max='215' min='0' onchange="updatePts(this.value);">215<span id="ptsspan"></span>
        </div>

        <div class="form-group col-md-2.5">
            0&nbsp;&nbsp;<input type="range" name="pim" value='0' max='472' min='0' onchange="updatePim(this.value);">472<span id="pimspan"></span>
        </div>

  </div>


  

  <input type="submit" value="Submit" class="btn btn-lg btn-danger">

</form>

<table class="table table-striped table-sm table-responsive header-fixed" style="display: block; max-height: 600px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">
<thead class="thead-light">
<tr class="table-dark">
    <td scope="col">Name</td><td scope="col">League</td><td scope="col">Team</td><td scope="col">Season</td><td scope="col">Height</td><td scope="col">Weight</td><td scope="col">Shoot Catch</td><td scope="col">Postion</td><td scope="col">Age by Season</td><td scope="col">Games Played</td><td scope="col">Assists</td><td scope="col">Pts</td><td scope="col">PIM</td><td scope="col">PostGP</td><td scope="col">PostA</td><td scope="col">PostPts</td><td scope="col">PostPIM</td>
</tr>
</thead>
<tbody>
{% for row in table%}
    <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock%}
