{%extends "header.html"%}

{%block body%}


<code>{{ debug }}</code>


<form action="{{ url_for('teams') }}" method="POST">
  
  <script type="text/javascript">
        function updateRange1(val) {
          document.getElementById('rang1').innerHTML=val; 
        }
    </script>
  <script type="text/javascript">
        function updateRange2(val) {
          document.getElementById('rang2').innerHTML=val; 
        }
    </script>
  <script type="text/javascript">
        function updateRange3(val) {
          document.getElementById('rang3').innerHTML=val; 
        }
    </script>

  <script type="text/javascript">
        function showornot() {
          v1=document.getElementById('showAndDisplay1').style.display
          if(v1=='none')
            {v1='block'}
          else
            {v1='none'}
          
          v2=document.getElementById('showAndDisplay2').style.display
          
          if(v2=='none')
            {v2='block'}
          else
            {v2='none'}
          
          document.getElementById('showAndDisplay1').style.display=v1
          document.getElementById('showAndDisplay2').style.display=v2
        }
    </script>


     
    <input name="show" type="checkbox"  onclick="showornot();">
    <label for="show" style="font-size:20px">Search by Game</label>
    

    

  <div id="showAndDisplay1"  style="font-size:20px">

    <div class="form-group col-md-2">
    
          <div class="form-inline row">
          <label for="tmID">Team &nbsp;&nbsp;&nbsp;&nbsp;</label>
          <select class="form-control form-control-sm" name="tmName1" style="width:110px">
                <option></option>
                {% for team in teamdrop %}
                <option>{{ team }}</option>
                {%endfor%}
                </select>
            </div>


           <div class="form-inline row">
           <label for="lgID">League &nbsp;</label>
            <select class="form-control form-control-sm" name="lgID" style="width:110px">
              <option>ALL</option>
              <option>WHA</option>
              <option>NHL</option>
              <option>WCHL</option>
              <option>NHA</option>
              <option>PCHA</option>
            </select>
        </div>


              <div class="form-inline row">
           <label for="lgID">Year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <select class="form-control form-control-sm" name="year1" style="width:110px">
              <option></option>
              {% for year1 in years %}
              {% if year1 == year %}
              <option selected="selected">{{ year1 }}</option>
              {%else%}
               <option >{{ year1 }}</option>
              {%endif%}
              {%endfor%}
            </select>
           </div>
      </div>



          <div class="d-flex justify-content-center my-4">
            <span id="ex1CurrentSliderValLabel"> Wins&nbsp;≥&nbsp; <span  id="rang1" ></span><span>&nbsp;</span><span>&nbsp;</span></span>
            0<input name='ex1' id="ex1" type="range" value="0" min="0" max="13" onchange="updateRange1(this.value);" >13&nbsp;&nbsp;&nbsp;
          </div>
              
          <div class="d-flex justify-content-center my-4">
            <span id="ex2CurrentSliderValLabel"> Loses ≥&nbsp;<span  id="rang2" ></span><span>&nbsp;</span><span>&nbsp;</span> </span>
            0<input  name='ex2' id="ex2" type="range" value="0" min="0" max="13" onchange="updateRange2(this.value);">13&nbsp;&nbsp;&nbsp;
          </div>

          <div class="d-flex justify-content-center my-4"> 
            <span id="ex3CurrentSliderValLabel"> Ties&nbsp;≥&nbsp;<span  id="rang3" ></span><span>&nbsp;</span><span>&nbsp;</span> </span>
            0<input name='ex3' id="ex3" type="range" value="0" min="0" max="8" onchange="updateRange3(this.value);">8&nbsp;&nbsp;&nbsp;
          </div>
    
    </div>
  
  
 
  
 <div id="showAndDisplay2" style="display: none;">
   
   <label for="lgID">Team</label>
    <select class="form-control form-control-sm" name="tmName" style="width:110px">
          <option ></option>
          {% for team in teamdrop %}
          <option >{{ team }}</option>
          {%endfor%}
    </select>
     
    <label for="lgID">Opponent</label>
    <select class="form-control form-control-sm" name="tmNameP" style="width:110px"> 
          <option ></option>
          {% for team in teamdrop %}
          <option >{{ team }}</option>
          {%endfor%}
    </select>
       
     <label for="lgID">Year</label>
      <select class="form-control form-control-sm" name="year2" style="width:110px">
        <option></option>
        <option>sum</option>>
        {% for year1 in years %}
        {% if year1 == year %}
        <option selected="selected">{{ year1 }}</option>
        {%else%}
         <option >{{ year1 }}</option>
        {%endif%}
        {%endfor%}
      </select>   

</div>
    
        

  
  <input type="submit" value="Submit" class="btn btn-lg btn-danger">

</form>
<table class="table table-striped table-responsive" style="display: block; max-height: 600px; overflow-y: auto; -ms-overflow-style: -ms-autohiding-scrollbar;">
<thead class="thead-light">
<tr class="table-dark">
    {% for item in title %}
    <td scope="col">{{ item }}</td>
    {% endfor %}
</tr>
</thead>
<tbody>
{% for row in table%}
    <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock%}
